<!-- List Everybody on Home Page -->
<center>
<div class="container-fluid" >
<div class="row">

<ul>
	<% @users.each do |f| %>
		<li class="col-md-4">
			<%= image_tag(f.avatar, :class => "showimg") %><br>
			<%= link_to f.name, user_path(f.id) %>
		</li>
	<% end %>
</ul>

</div>
</div>
</center>
<hr>
	<%= render partial: 'gmap' %>  <!-- Google map partial code -->
